<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link href="static/css/style.css" rel="stylesheet">
    </head>
<body>
    <h1>Register</h1>

    <form method="POST" action="/register">
        <label for="username">Username :</label>
        <input type="text" id=" username" name="username" required><br><br>
        <label for="email">Email:</label>
        <input type="text" id=" email" name="email" required><br><br>
        <label for="phonenumber">Phonenumber:</label>
        <input type="tel" id=" phonenumber" name="phonenumber" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Register"> <br> <br>

        <p>already have an account please <a href="/login"> <input type="button" value="login"> </a> </p>




       
        

    </form>
    
    
</body>

</html>